body{
text-align: center;
 background-image: url(autumn-landscape-nature-background-dried-flowers-water-drops-rain-field-banner-selective-focus-75038244.jpg); 
/** background-image: url(amazed-questioned-african-american-girl-seeing-incredible-perfomance-open-mouth-speechless-impressed-asking-question-pointing-upper-left-corner-sideways-indicating-index-fingers-make-order-fastfood_176420.webp) **/
}

div{
	text-align: left;	
padding: 10px 10px 10px 10px;
/** border: 2px solid black;
 margin-right:  40%;  **/

margin-left:  40%;  
 background-color: white; 
}

h1::first-letter{
	color: green    ;
	font-size: 70px;
}  

p::first-line{
	color: blue;
	word-spacing :30px;
}



p::before{
content: '*** ';
}

p::after{
	 /** content: url(CSS3_logo_and_wordmark.svg.png); **/
	 content: '***';
}

p::selection{
	background-color: pink;
}
::marker{
color: blue;
}
